<!-- Toolbar -->
<div class="selectorArea">
    <h1>
      Select Device:
    </h1>
    <mat-form-field class="selector-field" appearance="fill">
      <mat-label>Select Device</mat-label>
      <mat-select (selectionChange)="onChange($event)">
        <mat-option *ngFor="let device of devices" [value]="device.value">
          {{device.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
</div>


<!-- Card sections -->
<div class="container cardSection">
  <mat-card class="card">
    <mat-card-header>
      <div class="cardHeader">
        <mat-card-title class="cardTitle">PM2.5 (µg/m³)</mat-card-title>
        <div class="IconsSensor">
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="air"></mat-icon>
        </div>
      </div>
    </mat-card-header>
    <mat-card-content class="PMValue">
      <mat-spinner class="spinner" *ngIf="loading" class="spinner" diameter="50"></mat-spinner>
      <h1 *ngIf="!loading" >{{pm25Slider.value}}</h1>
      <button mat-raised-button class="buttonScale" style="background-color: {{rangeColorPM}}" matTooltip="{{rangeTooltipPM}}" matTooltipPosition="right">{{rangeDescriptionPM}}</button>
      <button mat-raised-button color="accent" (click)="openDialog()">View Scale</button>
      <div class="cardSlider">
        <mat-slider class="example-margin sliderSensors" [disabled]="pm25Slider.disabled" [max]="pm25Slider.max"
          [min]="pm25Slider.min" [step]="pm25Slider.step" [discrete]="pm25Slider.thumbLabel"
          [showTickMarks]="pm25Slider.showTicks">
          <input matSliderThumb [(ngModel)]="pm25Slider.value">
        </mat-slider>
      </div>
      <div class="cardRange">
        <mat-chip>Min {{pm25Slider.min}}</mat-chip>
        <mat-chip>Max {{pm25Slider.max}}</mat-chip>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="card">
    <mat-card-header>
      <div class="cardHeader">
        <mat-card-title class="cardTitle">AQI (US level)</mat-card-title>
        <div class="IconsSensor">
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="cloud  "></mat-icon>
        </div>
      </div>
    </mat-card-header>
    <mat-card-content class="PMValue">
      <mat-spinner class="spinner" *ngIf="loading" class="spinner" diameter="50"></mat-spinner>
      <h1 *ngIf="!loading" >{{aqiSlider.value}}</h1>
      <button mat-raised-button class="buttonScale" style="background-color: {{rangeColorAqi}};" matTooltip="{{rangeTooltipAqi}}" matTooltipPosition="right">{{rangeDescriptionAqi}}</button>
      <button mat-raised-button color="accent" (click)="openDialog()">View Scale</button>
      <div class="cardSlider">
        <mat-slider class="example-margin sliderSensors" [disabled]="aqiSlider.disabled" [max]="aqiSlider.max"
          [min]="aqiSlider.min" [step]="aqiSlider.step" [discrete]="aqiSlider.thumbLabel"
          [showTickMarks]="aqiSlider.showTicks">
          <input matSliderThumb [(ngModel)]="aqiSlider.value">
        </mat-slider>
      </div>
      <div class="cardRange">
        <mat-chip>Min {{aqiSlider.min}}</mat-chip>
        <mat-chip>Max {{aqiSlider.max}}</mat-chip>
      </div>
    </mat-card-content>
  </mat-card>
  <div class=" card cardDivider">
    <mat-card class="cardSmall">
      <mat-card-header>
        <div class="cardHeader">
          <mat-card-title class="cardTitle">Temperature</mat-card-title>
          <div class="IconsSensor">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="device_thermostat"></mat-icon>
          </div>
        </div>
      </mat-card-header>
      <mat-card-content class="cardSmallContent">
        <mat-spinner class="spinner" *ngIf="loading" class="spinner" diameter="50"></mat-spinner>
        <h1 *ngIf="!loading" class="cardSmallValue">{{temperatureSlider.value}} °F</h1>
      </mat-card-content>
    </mat-card>
    <mat-card class="cardSmall">
      <mat-card-header>
        <div class="cardHeader">
          <mat-card-title class="cardTitle">Pressure</mat-card-title>
          <div class="IconsSensor">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="gas_meter"></mat-icon>
          </div>
        </div>
      </mat-card-header>
      <mat-card-content class="cardSmallContent">
        <mat-spinner class="spinner" *ngIf="loading" class="spinner" diameter="50"></mat-spinner>
        <h1 *ngIf="!loading" class="cardSmallValue">{{pressureSlider.value}} kPa</h1>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<!-- Table -->
<div class="container table">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="deviceName">
      <th mat-header-cell *matHeaderCellDef> Device Name </th>
      <td mat-cell *matCellDef="let element"> {{element.deviceName}} </td>
    </ng-container>

    <ng-container matColumnDef="deviceTypeSensor">
      <th mat-header-cell *matHeaderCellDef>Device Type Sensor</th>
      <td mat-cell *matCellDef="let element"> {{element.deviceTypeSensor}} </td>
    </ng-container>

    <ng-container matColumnDef="deviceSensorValue">
      <th mat-header-cell *matHeaderCellDef>Device Sensor Value</th>
      <td mat-cell *matCellDef="let element"> {{element.deviceSensorValue}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
</div>
